# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Jonas Hochsteger\OneDrive - tgm - Die Schule der Technik\3. Schuljahr\MEDT\2.Semester\M1\PHPTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
