body {
    margin-left: 2%;
    margin-right: 2%;
}

a {
    color:inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
}
/* Header */
#header {
    margin-top: 1%;
    margin-bottom: 2%;
}
.bhome, .blaptop, .bsmart {
    border-radius: 5px;
}
.bhome {
    background-color: #ababab;
    border: 2px solid #ababab;
    
}
.blaptop {
    background-color: #00a6d0;
    border: 2px solid #00a6d0;
}
.bsmart {
    background-color: #17618e;
    border: 2px solid #17618e;
}
.bhome b, .blaptop b, .bsmart b {
    margin: 10%;
}



/* Main */
#ba {
    margin-top: 3%;
}
.images {
    margin-bottom: 2%;
}
/* Footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ababab;
    color: white;
    text-align: center;
    font-size: 11px;
}
.footer p {
    margin-bottom: 0%;
}